@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS Rest */
*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* html
{
    scroll-behavior: smooth;
} */

body
{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a
{
    text-decoration: none;
}

p
{
    margin: 0.75rem 0;
}

/* Utility Classes */
.container
{
    text-align: center;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.text-primary
{
    color: #7ab236;
}

.text-dark
{
    color: #212020;
}

.l-heading
{
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

.m-heading
{
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

.lead
{
    margin-bottom: 2rem;
    font-size: 1.3rem;
}

.btn
{
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #fff;
    background-color: #93cb52;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover
{
    background-color: #7ab236;
}

.btn-dark
{
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #fff;
    background-color: #212020;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-dark:hover
{
    background-color: #444;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.bg-lite
{
    background-color: #b8bfb9;
}

.bg-dark
{
    background-color: #212020;
    color: #fff;
}

.bg-primary
{
    color: #fff;
    background-color: #7ab236;
}

.list
{
    margin: 0.5rem 0;
    list-style: none;
}

.list li
{
    padding: 0.5rem 0;
    border-bottom: 1px #444 dashed;
}

/* Navigation bar Styling */
#navbar
{
    background-color: rgb(33, 33, 33);
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 1rem;
    z-index: 1;
}

#navbar ul
{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a
{
    font-weight: bold;
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
    border-radius: 5px;
}

#navbar ul li a:hover
{
    background-color: #93cb52;
}

/* Showcase Styling */
#showcase
{
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 90vh;
    color: #fff;
}

#showcase .showcase-content
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 0 5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

/* What styling */
#what .container .items
{
    display: flex;
}

#what .container .items .item i
{
    background-color: #93cb52;
    padding: 1.5rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

#what .container .items .item
{
    margin: 1.5rem;
}

/* Who Styling */
#who
{
    display: flex;
}
#who div
{
    flex: 1;
}

#who .who-img
{
    background: url('../img/people.jpg') no-repeat center center/cover;
}

#who .who-text
{
    padding: 2rem;
}

/* Clients Styling */

#clients .items
{
    display: flex;
}

#clients .items div img
{
    display: block;
    width: 60%;
    margin: auto;
}

/* Contact Styling */
#contact
{
    display: flex;
}

#contact div
{
    flex: 1;
}

#contact .contact-form
{
    padding: 1.5rem;
}

#contact .contact-form form .form-group label
{
    display: block;
}

#contact .contact-form form .form-group, 
#contact .contact-form form .btn-dark
{
    margin: 0.75rem;
}

#contact .contact-form form .form-group input,
#contact .contact-form form .form-group textarea
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

#contact .contact-form form .form-group input
{
    border: 0;
}